<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<#include '../head.html'>
<title></title>
</head>
<body>
<form id="addForm" lay-filter="addexpire" class="layui-form layui-form-pane">
	<input id="id" name="id" type="hidden" value="${id?default('')}">
	
	<div class="layui-form-item">
		<label class="layui-form-label">名称</label>
		<div class="layui-input-block">
			<input type="text" name="name" :value="expire.name" required lay-verify="expirename|isexpirenameExist" placeholder="请输入名称" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">单位</label>
		<div class="layui-input-block" name="units" id="unitIds">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">数量</label>
		<div class="layui-input-block">
			<input type="text" name="quantity" :value="expire.quantity"  required placeholder="请输入数量" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">描述</label>
		<div class="layui-input-block">
			<input type="text" name="description" :value="expire.description" placeholder="请输入表示" class="layui-input">
		</div>
	</div>
    <div class="layui-form-item">
    	<div class="layui-input-block">
			<button class="layui-btn" lay-submit lay-filter="confirm">确定</button>
			<input type="button" class="layui-btn layui-btn-primary" @click="cancel()" value="取消">
		</div>
	</div>
    </div>	
</form>
</body>
<script type="text/javascript" src="${request.contextPath}/js/expire/expireEdit.js"></script>
</html>