<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<#include '../head.html'>
<title></title>
</head>
<body>
<form id="addForm" lay-filter="addfoodType" class="layui-form layui-form-pane">
	<input id="id" name="id" type="hidden" value="${id?default('')}">
	
	<div class="layui-form-item">
		<label class="layui-form-label">名称</label>
		<div class="layui-input-block">
			<input type="text" name="name" :value="foodType.name" required lay-verify="foodTypename|isfoodTypenameExist" placeholder="请输入用户名" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">描述</label>
		<div class="layui-input-block">
			<input type="text" name="description" :value="foodType.description" required lay-verify="foodTypename|isfoodTypenameExist" placeholder="请输入用户名" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">属于的类型</label>
		<div class="layui-input-block" name="parent" id="parentIds">
		</div>
	</div>
    <div class="layui-form-item">
    	<div class="layui-input-block">
			<button class="layui-btn" lay-submit lay-filter="confirm">确定</button>
			<input type="button" class="layui-btn layui-btn-primary" @click="cancel()" value="取消">
		</div>
	</div>
    </div>	
</form>
</body>
<script type="text/javascript" src="${request.contextPath}/js/foodType/foodTypeEdit.js"></script>
</html>